{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  // your solution here
var myElement1 = document.getElementById("tap-box");
var tap = new Hammer(myElement1);
tap.on("tap", function() {
    myElement1.style.color = "#ff0000";
});

var myElement2 = document.getElementById("swipe-box");
var swipe = new Hammer(myElement2);
swipe.on("swipe", function() {
      myElement2.style.backgroundColor = 'green';
});
    
var myElement3 = document.getElementById("rotate-box");
var rotate = new Hammer(myElement3);
rotate.get("rotate").set({ enable: true });
rotate.on("rotate", function() {
    myElement3.style.width = "200px"; 
});

var myElement4 = document.getElementById("pinch-box");
var pinch = new Hammer(myElement4);
pinch.get("pinch").set({ enable: true });
pinch.on("pinch", function() {
    myElement4.style.height = "50px"; 
});
    
var myElement5 = document.getElementById("press-box");
var press = new Hammer(myElement5);
press.on("press", function() {
    myElement5.insertAdjacentText("afterbegin", "Pig ");
});
    
var myElement6 = document.getElementById("pan-box");
var pan = new Hammer(myElement6);
pan.on("pan", function() {
    myElement6.style.backgroundColor = "red"; 
});
    
  </script>
</body>
</html>
